{%extends 'gallery/base.html'%}
{% block content %}
{{ block.super}}

<div class="container  gallery">
    <div class="container">
        <a class="" href="/#gallery" ><i class="fas fa-backspace fa-2x m-3" style="color: rgb(10, 177, 10);"></i></a>
        <h3>Gallery</h3>
        
       
        <div class="row mt-3">
            <div class="row header">
                {% if header %}
                <p>{{header}} images</p>
                {% else %}
                <p>Category Images</p>
                {% endif %} 
                <!-- <h6 class="text-center">{{location.location_name}} Images</h6> -->
            </div>
            {%for image_item in category_images %}
            <img src="{{image_item.image.url}}" class="card-img-top m-2" alt="..." style="height: 20rem; width: 25rem; border-radius: 6px;"
                data-bs-toggle="modal" data-bs-target="#imageEnlarge{{image_item.id}}">


            {% include "gallery/modal.html" %}

            {% empty %}
            <div class="row">
                <h2 class="text-center">There No Image Items</h2>
            </div>

            {%endfor%}
            
        </div>
    </div>



</div>

{% endblock %}

<!-- <button><a href="{% url 'details' image.pk%}"></a></button> -->
