{%extends 'gallery/base.html'%}
{% block content %}
{{ block.super}}

<div class="container  gallery" id="galley">
    <div class="container">
        <h3>Gallery</h3>
        <div class="col-md-5">
            <div id="locations">
                {% for location in locations %}
                    <a class="btn btn-primary" id="btn"
                       href="/location/{{location.location_name}}">{{location.location_name}}</a>
                {%endfor%}
             </div>
         </div>
  
        <div class="row mt-3">
            {%for image_item in object_list %}

            <img src="{{image_item.image.url}}" class="card-img-top m-2" alt="image" style="height: 20rem; width: 25rem;"
                data-bs-toggle="modal" data-bs-target="#imageEnlarge{{image_item.id}}">
                <!-- <img src="{{image_item.image.url}}" style="background-color: blanchedalmond; height: 20rem;" alt=""> -->

            {% include "gallery/modal.html" %}

            {% empty %}
            <div class="row">
                <h6 class="text-center">There No Image Items</h6>
            </div>

            {%endfor%}
        </div>
    </div>




</div>

{% endblock %}