{%extends 'gallery/base.html'%}
{% load static%}

{% block content %} 
    {{ block.super}}

<div class="container-fluid  home">

    <div class="col-md-2 arrow">
        <a href="#gallery"><img src="{% static 'images/arrow2.png' %}"  alt=" mouse_click" id="mouseClick" style="height: 10rem;"></a>
    </div>

</div>

<div class="container  gallery" id="gallery">
    <div class="card text-center bg-transparent mt-4 " >
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item m-2">
              <a class="nav-link btn-success active" id="home" aria-current="true" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item m-2">
              <a class="nav-link active" id="locationBtn" aria-current="true" href="#gallery" onClick="return showLocations();" >Filter by Location <i class="fas fa-map-marker-alt"></i></a>
            </li>
            <li class="nav-item m-2">
              <a class="nav-link active" id="categoryBtn" aria-current="true" href="#gallery" onClick="return showCategories();"  >Filter by Category <i class="fab fa-phabricator"></i></a>
            </li>


          
          </ul>
        </div>
        <div class="card-body">
            <div class="container">
                <h3>Gallery</h3>
                <div class="col-md-12">
                    <div class="col-md-12" id="locations">
                      <i class="fas fa-map-marker-alt" style="height: 1.5rem; width: 2rem;"></i>
                        {% for location in locations %}
                            <a class="btn btn-outline-success" id="btn"
                               href="/location/{{location.location_name}}">{{location.location_name}}</a>
                        {%endfor%}
                    </div>
                    <div class="col-md-12" id="categories">
                      <i class="fab fa-phabricator" style="height: 1.5rem; width: 2rem;"></i>
                        {% for category in categories %}
                          <a class="btn btn-outline-warning" id="btn"
                             href="/category/{{category.category}}">{{category.category}}</a>
                      {%endfor%}
                  </div>
                 </div>
          
                <div class="row mt-3">
                    {%for image_item in images %}
        
                    <img src="{{image_item.image.url}}" class="card-img-top m-2" alt="image" style="height: 20rem; width: 25rem;"
                        data-bs-toggle="modal" data-bs-target="#imageEnlarge{{image_item.id}}">
                        <!-- <img src="{{image_item.image.url}}" style="background-color: blanchedalmond; height: 20rem;" alt=""> -->
        
                    {% include "gallery/modal.html" %}
        
                    {% empty %}
                    <div class="row">
                        <h6 class="text-center">There No Image Items</h6>
                    </div>
        
                    {%endfor%}
                </div>
            </div>
          
        </div>
      </div>
    




</div>

{% endblock %}