<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark  bg-transparent" id="main-navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}"></small>Photofolio</small></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>          </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ms-auto">
                
          </ul>
          <form class="d-flex" role="search" action="{% url 'search_results'%}">
            <input class="form-control me-2" type="search" name="category" placeholder="Search Category Images"
              aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
            <a href="/admin"><i class="fas fa-user-lock fa-2x ms-2" style="color: rgb(10, 177, 10);"></i></a>

          </form>
     
        </div>
      </div>
    </nav>
</body>

</html>
