<input type="checkbox" id="check">
<label for="check">
    <i class="fas fa-bars" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>
</label>
<div class="sidebar">
<header>Photofolio</header>
    <ul>
        <li><a href="{% url 'home' %}"><i class="fas fa-house-user"></i>Home</a></li>
        <li><a href="{% url 'gallery' %}"><i class="fas fa-camera-retro"></i>Gallery</a></li>
        <li><a href="#"><i class="fas fa-calendar-week"></i>Categories</a></li>
        <li><a href="#"><i class="fas fa-search-location"></i>Locations</a></li>
        <li><a href="#"><i class="fas fa-sliders-h"></i>Services</a></li>
        <li><a href="#"><i class="far fa-envelope"></i>Contact</a></li>
    </ul>
</div>

