/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .dropdown #drop{
          font-size: 10px;
      }
    #main-navbar{
      width: 100%;
    }
      
    #main-navbar .navbar-toggler {
      border: none;
      border-radius: 0px;
      padding: 0px;
      cursor: pointer;
      margin-top: 27px;
      margin-bottom: 23px;
    }
    .navbar-brand{
      margin-left: 20px;
  }
  form{
      width: 22rem;

  }

  form input{
      font-size: 14px !important;
  }
  
  
  
  #main-navbar .navbar-toggler[aria-expanded="false"] span:nth-child(2) {
      opacity: 1;
    }
  
    #main-navbar .navbar-toggler[aria-expanded="true"] span:nth-child(2) {
      opacity: 0;
    }
  
    #main-navbar .navbar-toggler[aria-expanded="true"] span:first-child {
      transform: rotate(-45deg);
      position: relative;
      top: 7.5px;
    }
  
   #main-navbar .navbar-toggler[aria-expanded="true"] span:last-child {
      transform: rotate(45deg);
      bottom: 6px;
      position: relative;
    }
  
    #main-navbar .navbar-toggler span{
      display: block;
      width: 25px;
      height: 3px;
      background: rgb(10, 177, 10);
      margin: auto;
      margin-bottom: 4px;
      margin-right: 5px;
      transition: all 400ms linear;
      cursor: pointer;
    }

    .home{
        height: 35rem;
    }

    .home .arrow{
        margin-top: 100%;
        margin-left: 5%;
      }

    #btn{
        height: 44px;
        width: 135px;
        margin: 5px;
    }

    .card #home{
        height: 40px;
        width: 87px;
        font-size: 10px !important;
        margin: -4px;
    }

    .card #locationBtn, .card #categoryBtn{
        height: 60px;
        width: 112px;
        margin: -4px;
        font-size: 10px !important;

    }

    .modal-image{
        width: 19rem !important;
    }

    .input-lg{
        font-size: 12px !important;
    }

}  